@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

/* form inputs - font size: 24px */
:root {
    --primary-background-color:#C5E4E7;
    --primary-white-color: #FFFFFF;
    --dark-green-color: #00474B;
    --input-color-tip-focus:#26C2AE;
    --input-background-color: #F3F9FA;
    --form-text-color: #5E7A7D;
    --btn-reset: #0D686D;
    --prePerson: #7F9D9F;
}

body{
    background-color: var(--primary-background-color);
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}

/* Caixa principal */

.blue-box{
    font-weight: 700;
    font-family: 'Space Mono', monospace;
    font-size: 17px;
}

/* Logo */

.logo-box{
    display: flex;
    justify-content: center;
    margin-top: 10vh;
    margin-bottom: 5vh;
}

/* Caixa da Calculadora */

.main-box{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: var(--primary-white-color);
    border-radius: 25px; 
    width: 20rem;
    height: auto;
    padding: 2.5rem;
}

.form-text{
    color: var(--form-text-color);
}

input{
    line-height: 2.175rem;
    text-align: right;
    border: 0,125rem, solid var(--primary-white-color);
    border-radius: 3%;
    cursor: pointer;
}

/* Bill */

.input-first .bill{
    width: 20rem; 
    height: 2.5rem;
    background-image: url(../IMAGES/icon-dollar.svg);
    background-repeat: no-repeat;
    background-size: auto;
    background-color: var(--input-background-color);
    margin-top: 0.8rem;
}

/* Select Tip */

.middle-box{
    margin-top: 2rem;
}

.percentage{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 1.25rem;
} 

/* Tip Percents */

.tip-percent{
    display: flex;
    width:8rem ;
    height: 2.8rem;
    border-radius: 7%;
    background-color: var(--dark-green-color);
    color: var(--primary-white-color);
    font-size: 24px;
    margin-bottom: 1rem;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
}

/* Custom */

.tip-percent .input-second{
    width:8rem ;
    height: 2.8rem;
    text-align: center;
    font-family: 'Space Mono', monospace;
    font-size: 24px;
    font-weight: 700;
    background-color: var(--input-background-color);
}

/* Number od People */

.tip{
    margin-bottom: 1.5rem;
}
.people{
    background-color: var(--input-background-color);
    background-image: url(../IMAGES/icon-person.svg);
    background-repeat: no-repeat;
    background-size: auto;
    width: 20rem; 
    height: 2.5rem;
    border-radius:3%;
    border: 0,125rem, solid var(--primary-white-color);
    margin-top: 0.8rem;
    margin-bottom: 2rem;
}

/* BOX VERDE */

.right-box{
    display: flex;
    flex-direction: column;
    background-color: var(--dark-green-color);
    width: 18rem;
    height: 14rem;
    color: var(--primary-white-color);
    border-radius: 15px;
    padding-top: 2rem;
    padding-right: 1.75rem;
    padding-bottom: 1.5rem;
    padding-left: 1.75rem;
    font-size: 1rem;
}

.price, .price-1{
    display: flex;
    justify-content: flex-end;
    color: var(--input-color-tip-focus);
    font-size: 2rem;
}

.per-person{
    color: var(--prePerson);
    padding: 0.5rem ;
}

.buttom-calculate .calculate{
    width: 18rem;
    height: 3rem;
    text-align: center;
    font-size: 19px;
    font-weight: 700;
    color: var(--dark-green-color);
    border-radius: 5px;
    background-color: var(--input-color-tip-focus);
    text-transform: uppercase;
}

.calculate{
    margin-top: 1rem;
}


@media all and  (min-width:1100px){

    .main-box{
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
        width: 50rem;
        height: auto;
    }

    .left-box{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-right: 2.5rem;
    }

    .tip{
        margin-bottom: 2.5rem;
    }

    .people, 
    .input-first .bill{
        width:27rem ;
    }

    .right-box{
        width: 28rem;
        height: 22rem;
        font-size: 1.15rem;
    }

    .price, .price-1{
        font-size: 3rem;
    } 

    .final, .total{
        padding-top: 1rem;
    }

    .buttom-calculate{
        padding-top: 4.5rem;
    }

    .icon-img{
        top: 34rem ;
        position: absolute;
    }

}